@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1{
    font-size: 32px;
    color: rgb(230, 227, 227);
    font-weight: 600;
}



.fa-user-plus{
    color: #fff;
}